html, body, #root{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
}


.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.app .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 4px;
    box-shadow: .5px .5px 4px 0px #FF000066;
    padding: 16px;
}

.app .user.apto{
    box-shadow: .5px .5px 4px 0px #00FF0066;
}

.app .user .username{
    font-weight: bold;
}